.mark.red {
    color: rgb(203, 0, 0);
    background: rgba(255, 0, 0, 0.165);
}
.mark.blue {
    color: rgb(33, 141, 255);
    background: rgba(0, 110, 255, 0.165);
}
.mark.white {
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.107);
}
.mark.orange {
    color: rgb(250, 129, 16);
    background: rgba(255, 109, 18, 0.165);
}
.mark.blue-light {
    color: rgb(5, 234, 237);
    background: rgba(0, 255, 242, 0.165);
}
.bold-2 {
    font-weight: 200;
}
.bold-3 {
    font-weight: 300;
}
.bold-4 {
    font-weight: 400;
}
.bold-5 {
    font-weight: 500;
}
.bold-6 {
    font-weight: 600;
}
.bold-7 {
    font-weight: 700;
}
.bold-8 {
    font-weight: 800;
}
.bold-9 {
    font-weight: 900;
}


/*  multi used classes */
.border-h1 {
    margin: 0 60px;
    height: 1px;
    background: var(--light-color-tra-25);

}
.border-h1-w90 {
    margin: 0 10px;
    height: 1px;
    background: var(--light-color-tra-25);

}
.border-b1-w1 {
    margin: 20px;
    height: 1px;
    background: var(--light-color-tra-25);
}