.mark.red {
    color: rgb(203, 0, 0);
    background: rgba(255, 0, 0, 0.165);
}
.mark.blue {
    color: rgb(33, 141, 255);
    background: rgba(0, 110, 255, 0.165);
}
.mark.white {
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.107);
}
.mark.orange {
    color: rgb(250, 129, 16);
    background: rgba(255, 109, 18, 0.165);
}
.mark.blue-light {
    color: rgb(5, 234, 237);
    background: rgba(0, 255, 242, 0.165);
}
.bold-2 {
    font-weight: 200;
}
.bold-3 {
    font-weight: 300;
}
.bold-4 {
    font-weight: 400;
}
.bold-5 {
    font-weight: 500;
}
.bold-6 {
    font-weight: 600;
}
.bold-7 {
    font-weight: 700;
}
.bold-8 {
    font-weight: 800;
}
.bold-9 {
    font-weight: 900;
}


/*  multi used classes */
.border-h1 {
    margin: 0 60px;
    height: 1px;
    background: var(--light-color-tra-25);

}
.border-h1-w90 {
    margin: 0 10px;
    height: 1px;
    background: var(--light-color-tra-25);

}
.border-b1-w1 {
    margin: 20px;
    height: 1px;
    background: var(--light-color-tra-25);
}
.border-b1-m0 {
    margin: 0 3px;
    height: 1px;
    background: var(--light-color-tra-30);
}
.height0 {
    height: 0 !important;
    overflow: hidden !important; 
    padding: 0 !important;
    margin: 0 !important;
}
.height0AndOp0 {
    height: 0 !important;
    overflow: hidden !important; 
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0; 
}
.error {
    background: rgb(255, 229, 229) !important;
}
.showMoreBtn {
    color: var(--text-color-80)
}
.b-link{
    color: var(--text-color);
    
}
.b-link.deco-none{
    color: var(--text-color);
    text-decoration: none;
}
.b-link.red {
    color: rgb(203, 0, 0);
}
.b-link.blue {
    color: rgb(0, 131, 238);
}
.b-link.orange {
    color: rgb(225, 112, 0);
}
.b-link.light-blue {
    color: rgb(0, 206, 182);
}
.blog_url {
    color: rgb(38, 107, 255);
}
.border-w1-h1 {
    height: 1px;
    background: var(--light-color-tra-25);
}
.primary-btn-c {
    color: rgb(37, 113, 255) !important;
}
.border-w1c1 {
    height: 1px;
    background: var(--light-color-tra-35);
}